<div *ngIf="cart && cart.items.length" class="container">
  <ul>
    <li *ngFor="let cartItem of cart.items">
      <div>
        <img [src]="cartItem.food.imageUrl" [alt]="cartItem.food.name">
      </div>
      <div>
        <!-- <a routerLink="/food/{{cartItem.food.id}}">
 {{cartItem.food.name}}
        </a> -->
      </div>
      <div>
        <select #quantitySelect
        [value]="cartItem.quantity"
        (change)="changeQuantity(cartItem, quantitySelect.value)">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
      </div>
      <div>
        {{cartItem.price}}
      </div>

      <div>
        <button class="remove-button" (click)="removeFromCart(cartItem)">
          Remove
        </button>
      </div>
    </li>
  </ul>
  <div class="checkout">
    <div>
      <div class="foods-count">{{cart.totalCount}}</div>
      <div class="total-price">{{cart.totalPrice}}</div>
    </div>

    <a routerLink="/checkout">Proceed to Checkout</a>

    <button (click)="order()">Order</button>
  </div>
  </div>


<mat-card>
  <mat-card-header>
      <mat-card-title>Restuarant List</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <table mat-table [dataSource]="dataSource" class="employee-table__table">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="imageUrl">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <th mat-cell *matCellDef="let element"> <img src="../../assets/jason-leung-poI7DelFiVA-unsplash.jpg" />  </th>

      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Product</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

   <!--actions-->
   <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>  </th>
    <td mat-cell *matCellDef="let element; let i=index;">

      <button mat-raised-button class="deleteBtn"   [routerLink]="['/reservations',element.restuarantId]">

        <mat-icon aria-label="Input">
          input
        </mat-icon>
      </button>
    </td>
  </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-card-content>
</mat-card>

