<div class="login-page">
    <mat-card class="mat-elevation-z12">
      <mat-card-title style="text-align:center;">Create New Reservation</mat-card-title>
      <mat-card-content>
        <form [formGroup]="myForm"  (ngSubmit)="onSubmit(myForm)">
          <mat-form-field>
            <input matInput formControlName = "StartDate"
              [matDatepicker]="myDatePicker" [min]="minDate" [max]="maxDate">
              <mat-datepicker-toggle [for] ="myDatePicker" matSuffix>  </mat-datepicker-toggle>
              <mat-datepicker #myDatePicker></mat-datepicker>


            <!-- <mat-icon matSuffix>today</mat-icon> -->
            <!-- <mat-error
              *ngIf="username.invalid">
              Username is required
            </mat-error> -->

          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              placeholder="Time"
              required

              formControlName = "StartTime">
              <!-- <mat-error *ngIf="email.invalid">Email is required</mat-error> -->
            <mat-icon matSuffix>alarm</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              placeholder="People"
              required
              type="number"
              formControlName = "People">
              <!-- <mat-error *ngIf="email.invalid">Email is required</mat-error> -->
            <mat-icon matSuffix>supervisor_account</mat-icon>
          </mat-form-field>

          <mat-form-field>
             <textarea
              matInput
              placeholder="GIve us a Description.."
              required
              name="Contactno"
              formControlName = "Description"> </textarea>
              <!-- <mat-error *ngIf="email.invalid">Contact is required</mat-error> -->

          </mat-form-field>



            <button
            mat-raised-button
            color="primary"
            class="login-button" >
            Save
           </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>


<mat-card>
  <mat-card-header>
      <mat-card-title>Reservation List</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <table mat-table [dataSource]="dataSource" class="employee-table__table">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->

      <ng-container matColumnDef="reservationId">
        <th mat-header-cell *matHeaderCellDef> Reservation ID</th>
        <td mat-cell *matCellDef="let element"> {{element.reservationId}} </td>
      </ng-container>

        <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description</th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

   <!--actions-->
   <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>  </th>
    <td mat-cell *matCellDef="let element; let i=index;">
    
      <button mat-raised-button class="deleteBtn"   [routerLink]="['/order',element.reservationId]">

        <mat-icon aria-label="Delete">
          restaurant_menu
        </mat-icon>
      </button>
    </td>
  </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-card-content>
</mat-card>

