.mat-column-price {
  width: 100px;
  text-align: right;
}

tr.mat-footer-row {
  font-weight: bold;
}

mat-toolbar {
  margin-bottom: 20px;
  background-color: #536DFE;
}

mat-toolbar i {
  color: #fff;

}

h5 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
   color: #fff;
   font-size: 14px;
}