@import 'src/app/styles/colors';
@import 'src/app/styles/font';
@import 'src/app/styles/variables';

//img { width: 40px; height: 40px; }


mat-card {
  width: 30%;
//  margin: 5% auto;
  border-radius: 8px;
}

.employee-table {
  &__content {
    @media (max-width: $small) {
      overflow-x: scroll;
    }
  }

  &__table {
    width:100%;
    box-shadow: none;

    @media (max-width: $small) {
      width: 200%;
    }
  }

  &__table-checkbox {
    width: 32px;
    padding-left: 24px;
  }

  &__table-header {
    padding: 1rem;
    font-size: $fs-small;
  }

  &__table-body {
    padding: 1rem;
    font-size: $fs-small;
  }
}
.my-class{

  display: block;
  width: 100%;

}

.my-class:hover{
  background: #ff4081;
  color: #fff;

}
.social-list ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.social-list ul li {
  display: inline-block;
}
.social-list a {
  //color: #fff;
  font-size: 16px;
  font-weight: 300;
  margin: 0 10px;
  text-decoration: none;
     font-family: "Robot Condensed", san-serif;
}
.social-list a:hover {
  color: #34c6d3;
}
