<div  class="container">
  <h3 >Restuarant List</h3>



  <!-- <h2 class="mt0">My Orders</h2>
  <div *ngIf="!dataSource.data || dataSource.data.length === 0; else ordersTable">
    <p>You have no orders yet.</p>
  </div> -->

    <!-- <table mat-table [dataSource]="dataSource" class="employee-table__table">

      <ng-container matColumnDef="ImageUrl">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <th mat-cell *matCellDef="let element"> <img src="../../assets/jason-leung-poI7DelFiVA-unsplash.jpg" />  </th>

      </ng-container>

      <ng-container matColumnDef="restuarantName">
        <th mat-header-cell *matHeaderCellDef> Restuarant Name</th>
        <td mat-cell *matCellDef="let element"> {{element.restuarantName}} </td>
      </ng-container>

   <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>  </th>
    <td mat-cell *matCellDef="let element; let i=index;">

      <button mat-raised-button class="deleteBtn"   [routerLink]="['/reservations',element.restuarantId]">

        <mat-icon aria-label="Input">
          input
        </mat-icon>
      </button>
    </td>
  </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table> -->


   
    <ng-container *ngFor="let restuarant of listRestuarant " >
    <mat-card>
      <img mat-card-image  src="../../assets/jason-leung-poI7DelFiVA-unsplash.jpg" />

      <mat-card-content>
       <h4>{{restuarant.restuarantName}}</h4>

       <div class="social-list text-center">
           <ul>
            <li>
             <a> <mat-icon>facebook</mat-icon></a>
            </li>
             <li>
             <a><mat-icon>facebook</mat-icon></a>
             </li>
             <a><li> <mat-icon>tiktok</mat-icon></li></a>
           </ul>


       </div>
      </mat-card-content>



          <button
          class="my-class"
          mat-raised-button
            color="danger"
            [routerLink]="['/reservations',restuarant.restuarantId]"
          >
            Add to cart
          </button>


    </mat-card>
  </ng-container> 
  <ng-template >
   
      <p> Restuarant List is currently empty.</p>
  
  </ng-template>
</div>
<!-- *ngIf="!this.listRestuarant; else restuarantList" -->